html,
body {
  margin: 0px;
  padding: 0px;
  background: #181818;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: .05em;
  color: #fff;
}


#menu {
  position: fixed;
  bottom: -40vh;
  left: 0;
  right: 0;
  transition: all .4s cubic-bezier(.5,.5,0,1);
  transform: translateY(0);
}

.showmenu #menu {
  transform: translateY(-40vh);
}

#menu > div {
  margin: 0 auto;
  box-sizing: border-box;
  width: calc(100vw - 50px);
  max-width: 1200px;
  height: calc(40vh + 3.6em);
  background-color: rgba(0,0,0,.4);
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 13px 20px;
  transition: background-color .4s cubic-bezier(.5,.5,0,1);
  position: relative;
}

@media (max-width: 768px) {
  #menu > div {
    width: 100vw;
  }
}

.showmenu #menu > div {
  background-color: rgba(0,0,0,.93);
}


.burger {
  flex: 0 0 3em;
  margin: -0.5em -0.9em;
  align-self: flex-start;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.showmenu .burger {
  transform: rotate(45deg);
}

.burger .line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#fff;
  stroke-width:5.5;
  stroke-linecap:round;
}
.burger .top {
  stroke-dasharray: 40 160;
  animation: fade 2s .6s linear infinite;
}
.burger .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
  animation: fade 2s .3s linear infinite;
}
.burger .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
  animation: fade 2s linear infinite;
}
.showmenu .burger .top {
  stroke-dashoffset: -64px;
  animation: none;
}
.showmenu .burger .middle {
  transform: rotate(90deg);
  animation: none;
}
.showmenu .burger .bottom {
  stroke-dashoffset: -64px;
  animation: none;
}

@keyframes fade {
  0%, 40%, 100% {
    opacity: .5;
  }
  70% {
    opacity: 1;
  }
}

input {
  font-weight: 400;
  appearance: none;
  border: 0;
  background: rgba(255,255,255,.15);
  color: #fff;
  border-radius: 1.2em;
  line-height: 1.3em;
  padding: .5em 1em;
  margin: .5em 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: .85em;
}

input[type=submit] {
  background: navy;
  font-family: 'Doppio One';
  font-size: .9em;
  text-transform: uppercase;
  padding: .45em 1em;
  -webkit-appearance: none;
  appearance: none;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(125, 173, 217, .7);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}

::selection {
  background: rgb(125, 173, 217);
}
::-moz-selection {
  background: rgb(125, 173, 217)  ;
}

#menu .animation_meta {
  flex: 1;
  line-height: 1.2em;
  font-size: 0.85em;
  text-align: right;
  font-weight: 200;
  height: 2em;
}

#menu nav {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#subscribeForm {
  margin-top: -80px;
  width: 280px;
  height: 114px;
  text-align: center;
}

.msg {
  display: none;
  height: 18px;
  font-size: .9em;
  font-weight: 400;
  padding: .4em;
}

.failure .msg, .success .msg, .load .msg {
  display: block;
}

.load .msg {
  font-size: 0;
  line-height: 0;
  display: inline-block;
  border-radius: 9px;
  position: relative;
  top: -8px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 2px solid rgb(125, 173, 217);
  border-right: 0;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.failure input[type=submit], .success input[type=submit], .load input[type=submit] {
  display: none;
}

#menu a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

#menu .animation_meta a {
  color: #999;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#background canvas {
  width: 100vw;
  height: 100vh;
}

#body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#js svg {
  width: 38vh;
  fill: #fff;
}

#countdown, #date {
  font-family: 'Doppio One';
  font-size: 3vh;
}
