html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background: #000;
}

#body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#body #js svg {
  width: 38vh;
  fill: #fff;
}

#body #date {
  font-family: 'Doppio One';
  font-size: 3vh;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

h2 {
  width: 100%;
  text-align: left;
  font-family: 'Doppio One';
  font-size: 1.5em;
  color: #fff;
  font-style: italic;
}


.sponsors {
  margin-bottom: -5vh;
  padding-top: 5vh;
  width: 100%;
}

.sponsors div {
  color: #fff;
  font-size: calc(.2em + 1.5vh);
  line-height: 1em;
  margin: .5em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

#sponsors {
  position: relative;
}

#sponsors a {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: opacity .8s ease-in-out;
  opacity: 0;
  z-index: 97;
}

#sponsors a.visible {
  opacity: 1;
  z-index: 99;
}

#art {
  width: 100vw;
  height: 100vh;
  background: #181818;
  border: 0;
}


@keyframes rot {
  0%, 100% {
    filter: hue-rotate(-0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}


/* Program */

#speakers .speakers {
  padding-top: 30px;
  color: #fff;
}

#speakers a[name] {
  margin-bottom: 20px;
  display: inline-block;
}

#speakers .day {
  text-align: left;
  position: relative;
  display: inline-block;
  margin-left: 80px;
  width: 290px;
  margin-top: 0;
}

#speakers .day > h4 {
    color: #fff;
    font-size: .9em;
    padding: 5px;
    margin: 0 auto;
    width: 160px;
    position: relative;
    left: -91px;
    transform: rotate(-45deg);
    transform-origin: 9% 86%;
    text-transform: uppercase;
}


#speakers .speaker {
    position: relative;
    clear: left;
    min-height: 65px;
    transition: all .2s ease-in;
    cursor: pointer;
    margin: 16px 0 0 -10px;
    float: left;
    padding-right: 10px;
    width: 290px;
}


#speakers .speaker:not(.workshop):before {
    content: "";
    position: absolute;
    left: -20px;
    top: -11px;
    bottom: -5px;
    border-left: #777 1px solid;
    z-index: 2;
    width: 0;
}

#speakers .speaker.workshop:before {
  content: "";
  position: absolute;
  left: -69px;
  top: -20px;
  bottom: -5px;
  background: #000;
  border: #777 1px solid;
  border-radius: 10px;
  z-index: 2;
  right: -3px;
}

#speakers .speaker.workshop > * {
  position: relative;
  z-index: 5;
}

#speakers .speaker.workshop > img {
  margin-left: -52px;
  margin-right: 12px;
}

#speakers .speaker.workshop > span:after {
  content: "WORKSHOP"
}

#speakers .speaker.lecture > span:after {
  content: "LECTURE TRACK"
}

#speakers .speaker.workshop > p {
  margin-left: -50px;
  width: 330px;
  position: relative;
  z-index: 5;
}

#speakers .speaker.workshop + .speaker.workshop:before {
  top: -30px;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  z-index: 2;
}


#speakers .speaker:after {
  content: "";
  position: absolute;
  left: -24px;
  top: 25px;
  background: #fff;
  z-index: 3;
  padding: 4px;
  width: 1px;
  height: 1px;
  border-radius: 5px;
  transition: background .2s ease-out;
}

#speakers .speaker > span:not(.img) {
  transition: all .2s ease-out;
  color: #aaa;
  font-size: 0.8em;
}

#speakers .speaker a > img {
    max-height: 1.6em;
}


#speakers .speaker > img {
    position: relative;
    z-index: 4;
    float: left;
    margin-top: 0;
    height: 70px;
    width: 70px;
    margin: -5px 16px 0 -56px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,1);
    transition: all .2s ease-out;
    background: #444;
}

#speakers .speaker > img + img {
    margin-left: -40px;
}

#speakers .speaker.workshop > img + img {
  margin-left: -35px;
}

#speakers .speaker img + h3,
#speakers .speaker img + h3 + h4 {
  margin-left: 34px;
}

#speakers .speaker img + img + h3,
#speakers .speaker img + img + h3 + h4 {
  margin-left: 85px;
}

#speakers .speaker > h3 {
    color: #fff;
    margin-top: 2px;
    margin-left: -2px;
    font-size: 1em;
    font-family: 'Doppio One';
    text-transform: uppercase;
    font-style: italic;
    position: relative;
}

#speakers .speaker > h4 {
    margin: -14px 0 -5px 0;
    text-align: left;
    font-weight: 200;
    color: #fff;
    font-size: .9em;
}

#speakers .speaker.break > h4 {
    margin-left: 0px;
}

#speakers .speaker:not(.break):hover > img,
#speakers .speaker.open:not(.break) > img {
  transform: scale(1.1);
}

#speakers .speaker:not(.break):hover > h4 a,
#speakers .speaker.open:not(.break) > h4 a {
  animation: rot 2s linear infinite;
}

#speakers .speaker:not(.break):hover > span:not(.img),
#speakers .speaker.open:not(.break) > span:not(.img){
  
}

#speakers .speaker > p a {
    color: #fff;
}

#speakers .speaker > p {
    clear: left;
    width: 300px;
    padding-top: 6px;
    margin-left: 0px;
    font-weight: 200;
    letter-spacing: .02em;
    font-size: 0.8em;
    line-height: 1.3em;
    height: 0;
    margin-top: 10px;
    margin-bottom: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity .3s ease-out;
    text-align: left;
}

#speakers .speaker > p + p {
    font-style: italic;
}

#speakers .speaker.open > p {
    opacity: 1;
    height: auto;
    margin-bottom: 15px;
}

#speakers .speaker > img {
    height: 70px;
    width: 70px;
}

#speakers .speaker h4 a {
    font-size: .9em;
    color: #9AE0FF;
    text-transform: none;
    text-decoration: none;
}

#speakers .speaker h3 a:hover {
    color: #fff;
}

#speakers .speaker.break {
    cursor: default;
}


@media (max-width: 768px) {
  #speakers .day {
    margin-left: 51px;
  }

  #speakers .workshop:before {
    border-radius: 0;
  }
}