#text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 25vh;
  display: flex;
  padding: 10vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 3em;
  text-align: center;
  text-shadow: 5px 5px 8px rgba(0,0,0,1);
  flex-direction: column;
}

#text span {
  opacity: .6;
  font-size: .8em;
}

.withText #body {
  transform: scale(.7);
  top: 60vh;
}

h3 {
  font-family: 'Doppio One';
  text-transform: uppercase;
  font-style: italic;
}

h4 {
  font-weight: 200;
  font-size: .9em;
}

.fade {
  transition: opacity 9s linear;
  opacity: 1;
}

.fade.hidden {
  opacity: 0;
}

#body { 
  transform: scale(1.3);
}

#all {
  width: 125vw;
}